<template>
  <div class="previous-images">
    <!-- <h2 style="text-align: center;">Previous Images</h2> -->
    <ul class="image-list">
      <li class="image-item" v-for="image in images" :key="image.Id">
        <div class="image-box">
          <img :alt=" 'uploaded image' + image.displayName" :src="getImagePath(image)" />
        </div>
        <div class="column-3">
          <div class="image-details">
            <p title="filename">{{ image.displayName }}</p>
            <P style="float: right;" title="Uploaded on">{{ dateFormatter(image.createdAt) }}</P>
          </div>
          <div class="detected-text">
            <h3 style="margin-top: 0px;">Text in image:</h3>
            <p>{{ getDetectedDescription(image.visionResponse) }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ImageList",
  props: ["images"],
  methods: {
    getDetectedDescription: (visionResponse = "") => {
      return visionResponse ? JSON.parse(visionResponse).description : "";
    },
    getImagePath: image => {
      // var fileName = storageFileName.split(".").last();
      return `/UploadedImage/${image.id}`;
    },
    dateFormatter: date => {
      return new Date(Date.parse(date)).toDateString();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  /* display: inline-block; */
  margin: 0 10px;
}
a {
  color: #42b983;
}

/* .image-details img {
  align-self: flex-start;
}

.image-details,
.detectedDescription {
  display: inline-block;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  object-fit: contain;
} */
/* div.previous-images {
  text-align: left;
} */
/* 
.image-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}*/

.image-list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: stretch;
  max-height: 200vh;
}
.image-item {
  display: flex;
  /* flex: 0 0 33%; */
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.column-3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
  flex-grow: 3 !important;
}

.image-header > * {
  margin: 1em 0;
  display: inline-block;
}
.image-details {
  flex-basis: 100%;
}
.image-item .image-box {
  /* flex: 1; */
  max-width: 200px;
  border: 1px solid grey;
  margin-bottom: 1em;
}
.image-box img {
  max-width: 100%;
  height: auto;
}
/* .detectedDescription {
  padding: 0 20px 20px;
} */
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}
</style>
