<template>
  <div class="container">
    <form ref="fileform">
      <div class="dropbox" @click="clickFileInput">
        <h1>Upload File</h1>
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" accept="image/*" />
        <p v-if="!isSaving">
          Drag your file(s) here to begin
          <br />or click to browse
        </p>
        <p v-else>Uploading image...</p>
        <p v-if="file != ''">{{ selectecFileName }}</p>
        <button v-show="!isSaving" v-on:click.stop.prevent="submitFile()">Submit</button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  /*
      Defines the data used by the component
    */
  data() {
    return {
      file: "",
      uploadedFileId: "",
      uploadStatus: "",
      STATUSES: {
        submitting: "SUBMITTING",
        waiting: "WAITING",
        success: "SUCCESS",
        error: "ERROR"
      }
    };
  },
  computed: {
    isSaving() {
      return this.uploadStatus == this.STATUSES.submitting;
    },
    selectecFileName() {
      return this.$refs.file.value;
    }
  },
  mounted() {
    /*
      Listen to all of the drag events and bind an event listener to each
      for the fileform.
    */
    [
      "drag",
      "dragstart",
      "dragend",
      "dragover",
      "dragenter",
      "dragleave",
      "drop"
    ].forEach(evt => {
      /*
        For each event add an event listener that prevents the default action
        (opening the file in the browser) and stop the propagation of the event (so
        no other elements open the file in the browser)
      */
      this.$refs.fileform.addEventListener(
        evt,
        e => {
          e.preventDefault();
          e.stopPropagation();
        },
        false
      );
    });

    /*
      Add an event listener for drop to the form
    */
    this.$refs.fileform.addEventListener("drop", e => {
      if (e.dataTransfer.files.length > 0) this.file = e.dataTransfer.files[0];
    });
  },
  methods: {
    clickFileInput() {
      this.$refs.file.click();
    },
    /*
        Submits the file to the server
      */
    submitFile() {
      if (!this.file) return;
      let formData = new FormData();

      formData.append("file", this.file);
      this.uploadStatus = this.STATUSES.submitting;

      axios
        .post("/api/Images", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          // eslint-disable-next-line no-console
          console.log("SUCCESS!!", response);
          this.uploadStatus = this.STATUSES.success;
          this.file = "";
          this.$emit("upload-success", response.headers.location);
        })
        .catch(response => {
          // eslint-disable-next-line no-console
          console.log("FAILURE!!", response);
          this.uploadStatus = this.STATUSES.error;
        });
      // this.uploadStatus = this.STATUSES.waiting;
    },

    /*
        Handles a change on the file upload
      */
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    }
  }
};
</script>

<style>
.dropbox {
  outline: 2px dashed grey;
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  height: 100vh;
  position: relative;
  cursor: pointer;
  text-align: center;
}
input#file {
  opacity: 0; /*  invisible but it's there! */
  width: 100%;
  /* height: 300px; */
  /* position: absolute; */
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}
</style>
