<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <image-upload id="image-upload" @upload-success="onSuccess" />
    <image-list id="image-list" :images="uploadedImages" />
  </div>
</template>

<script>
import ImageUpload from "./components/ImageUpload.vue";
import ImageList from "./components/ImageList.vue";
import axios from "axios";

export default {
  name: "app",
  data() {
    return {
      uploadedImages: []
    };
  },
  components: {
    ImageUpload,
    ImageList
  },
  created() {
    this.getUploadedImages(images => {
      this.uploadedImages = images;
    });
  },
  methods: {
    getUploadedImages(cb) {
      axios
        .get("/api/images")
        .then(response => {
          if (response.status == 200) cb(response.data);
          // eslint-disable-next-line no-console
          console.log("SUCCESS!!", response.data);
        })
        .catch(function(e) {
          // eslint-disable-next-line no-console
          console.log("FAILURE!!", e);
        });
    },
    onSuccess(location) {
      // eslint-disable-next-line no-console
      console.log("onSuccess");
      axios
        .get(location)
        .then(response => {
          if (response.status == 200) this.uploadedImages.push(response.data);
          // eslint-disable-next-line no-console
          console.log("SUCCESS!!", response.data);
        })
        .catch(e => {
          // eslint-disable-next-line no-console
          console.log("FAILURE!!", e);
        });
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  /* margin-top: 60px; */
}
body {
  margin: 0px;
}

#app,
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#image-list {
  overflow: scroll;
}
#image-upload,
#image-list {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

button {
  display: inline-block;
  border: none;
  border-radius: 25px;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
</style>
